*,body
{
	/*font-family: Verdana,Arial,sans-serif; 
	*/
	font-family:Century Gothic;
	font-size:12px;
	}

.section
{
	margin:5px;
	border:solid 1px #ccc;
	border-radius:4px;
}
.shaded
{
	background:#eee;
}